#bg-1.fullwidth-section
  .fullwidth-section-content
    .row
      .span12
        %h1.text-center Our Projects

  .row
    - data.projects.first(3).each do |project|
      .span4
        .portfolio-item
          .portfolio-item-preview
            = image_tag project.images.first, class: 'portfolio-image-medium'
            .portfolio-item-overlay
              .portfolio-item-overlay-actions
                %a.portfolio-item-link{ href: url_for("/project/#{project.url_name}.html") }
                  %i.ifc-link
                %a.magnificPopup-gallery.portfolio-item-zoom{ href: image_path(project.images.first) }
                  %i.ifc-zoom_in

          .portfolio-item-description
            %h3
              = link_to project.name, "/project/#{project.url_name}.html"
            - if project.url
              %h3
                Url:
                %span
                  %a{ href: "http://#{project.url}" }= project.url
            - if project.tagline
              %em= project.tagline
            %p= project.description
            %p.text-right
              %a{ href: url_for("/project/#{project.url_name}.html") }
                %i.ifc-fast_forward
                Read more
